
.header {
z-index: 9999;
}

.transparent {
  background-color: rgba(0, 0, 0, 0.6);
  transition: background-color 0.3s ease;
  z-index: 9999;
}

.solid {
  background-color: rgba(0, 0, 0, 1);
  transition: background-color 0.3s ease;
  z-index: 9999;
}

.transparent .logoImage {
  width: 200px; /* Plus grand pour le mode transparent */
  transition: width 0.3s ease;
}

.solid .logoImage {
  width: 170px; /* Taille normale pour le mode solid */
  transition: width 0.3s ease;
}

.transparent .menu {
  padding-top: 10px; /* Ajustement pour un menu plus haut */
  transition: padding-top 0.3s ease;
}

.solid .menu {
  padding-top: 0; /* Taille normale pour le menu */
  transition: padding-top 0.3s ease;
}

.logo {
  flex-shrink: 0;
}

.menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-family: var(--benzin-semibold);
}

.menuItem {
  position: relative;
}

.menuItem:hover .submenu {
  /* State when visible (on hover) */
  opacity: 1;
  transform: translateY(0); /* Position normale */
  pointer-events: auto;
}

.submenu {
  display: block; /* Toujours affiché pour permettre l'animation */
  position: absolute;
  top: 100%;
  left: 0;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 99;
  font-family: var(--gotham-light);

  /* Initial state (hidden) */
  opacity: 0;
  transform: translateY(-20px); /* Décalé vers le haut */
  pointer-events: none;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.submenu a {
  display: block;
  padding: 5px 10px;
  color: white;
  text-decoration: none;
  white-space: nowrap;
}

.contactLink {
  border: 1px solid white;
  padding: 0.5rem 1rem;
  border-radius: 30px;
  transition: background-color 0.3s ease;
}

.menuItemElt {
  display: flex;
  gap: 12px;
  align-items: center;
  cursor: default;
}

@keyframes rotateAnimation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}

.menuItemElt div {
  transform: rotate(0deg);
}

.menuItem:hover .menuItemElt div {
  animation: rotateAnimation 0.4s ease-in-out;
  transform: rotate(180deg);
}

.contactLink:hover {
  background-color: #fff;
  color: #111;
}

.mobilMenu {
  display: block;
}

.closeMenu {
  position: absolute;
  right: 0;
  top: 0;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  padding-top: 1rem;
}

.iconMenu {
  display: none;
}

.menuTel {
  display: none;
}

@media (max-width: 768px) {

  .menu {
    display: none !important;
  }

  .mobilMenu {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    right: 0;
    width: 100%; /* Ajuste la largeur du menu mobile */
    height: 100%;
    background-color: rgba(0, 0, 0, 1); /* Exemple de fond sombre */
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  .mobilMenu.open {
    opacity: 1;
  }

  .mobilMenu.close {
    opacity: 0;
    pointer-events: none;
  }

  .menuTel {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    text-align: center;
  }

  .menuItemElt {
    justify-content: center;
    margin-bottom: 10px;
    font-size: 18px;
    font-family: var(--benzin-semibold);
  }

  .menuItem {
    text-align: center;
  }

  .menuItem > div:last-child {
    font-family: var(--gotham-light);
  }

  .menuItem {
    margin-left: 0 !important;
  }

  .contactLink {
    margin-left: 0 !important;
    width: fit-content;
    font-family: var(--benzin-semibold);
  }

  .header {
    justify-content: center;
  }

  .transparent .logoImage {
    width: 100px; /* Plus grand pour le mode transparent */
  }
  
  .solid .logoImage {
    width: 80px; /* Taille normale pour le mode solid */
  }

  .iconMenu{
    display: block;
    width: 25px;
    height: 20px;
    position: absolute;
    right: 2.5rem;
    transform: rotate(0deg);
    top: 31px;
    transform: translateY(-50%);
    transition: .5s ease-in-out;
    cursor: pointer;
    z-index: 999;
  }

  .solid .iconMenu{
    top: 28px;
  }
  
  .iconMenu span {
    position: absolute;
    background-color: #fff;
    height: 1px;
    width: 100%;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
  }
  
  .iconMenu span:nth-child(1) {
    top: 0px;
  }
  
  .iconMenu span:nth-child(2) {
    top: 10px;
  }

  .iconMenu span:nth-child(3) {
    top: 10px;
  }
  
  .iconMenu span:nth-child(4) {
    top: 19px;
  }
  
  .iconMenu.open span:nth-child(1) {
    top: 10px;
    width: 0%;
    left: 50%;
  }
  
  .iconMenu.open span:nth-child(2) {
    transform: rotate(45deg);
  }
  
  .iconMenu.open span:nth-child(3) {
    transform: rotate(-45deg);
  }
  
  .iconMenu.open span:nth-child(4) {
    top: 10px;
    width: 0%;
    left: 50%;
  }
}