.sliderContainer {
  width: 100vw; /* Occupe toute la largeur de la page */
  margin: 0 auto;
  overflow: hidden; /* Cache les débordements */
  padding: 0px 4rem;
}

.image {
  height: 450px; /* Définit une hauteur fixe pour les images */
  object-fit: cover;
}

.slide {
  display: flex;
  flex-direction: column; /* Permet de mettre l'image et le titre l'un sous l'autre */
  justify-content: center;
  align-items: center; /* Centre le contenu */
  padding: 40px;
  padding-right: 50px;
}

.slide:focus-visible {
  outline: none;
}

.imageTitle {
  font-family: var(--benzin-semibold);
  font-size: 1.2rem;
  margin-top: 10px;
  color: #fff;
}

.imagePlace {
  font-family: var(--gotham-light);
  font-size: 1.4rem;
}

.prev {
  z-index: 47;
  top: 43%;
  width: fit-content;
  height: fit-content;
}

.next {
  right: -15px;
  z-index: 47;
  top: 43%;
  width: fit-content;
  height: fit-content;
}

.prev::before {
  display: none;
}

.next::before {
  display: none;
}

.sliderTitle {
  display: flex;
  padding: 0px 2.5rem;
  align-items: center;
}

.sliderTitle h1 {
  font-family: var(--benzin-semibold);
  font-size: 3.4rem;
  margin-left: 20px;
  display: flex;
  flex-direction: row-reverse;
  gap: 30px;
  align-items: center;
  justify-content: flex-end;
}

.sliderTitle h1 > div {
  width: 80px;
  display: flex;
  justify-content: center;
}

.sliderTitle p {
  font-family: var(--gotham-light);
  font-size: 16px;
  margin-left: 20px;
  max-width: 600px;
  margin-left: 130px;
}

@media (max-width: 768px) {
  .sliderContainer {
    padding: 0px;
  }
  
  .next {
    right: 20px;
    z-index: 999;
  }

  .prev {
    left: 20px;
    z-index: 999;
  }

  .sliderTitle {
    padding: 0px 20px;
  }

  .sliderTitle h1 {
    font-size: 18px;
    margin-left: 0px;
  }
  .image {
    height: 400px; /* Définit une hauteur fixe pour les images */
  }

  .slide {
    margin-top: 20px;
    padding: 10px;
  }

  .sliderTitle p {
    margin-left: 0px;
    margin-top: 20px;
  }
}