

.intro {
    font-family: var(--microma-regular);
}

.intro h3 {
    font-family: var(--inter);
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 1.6rem;
}

.intro h4 {
    font-family: var(--inter);
    font-weight: 300;
    font-size: 1.4rem;
}

.textLeftImg {
    width: 450px;
}

.textLeftImgTitle {
    right: -400px;
}

@media (max-width: 1500px) {
    .textLeftImgTitle {
        right: -400px;
    }    
}

@media (max-width: 1380px) {
    .textLeftImgTitle {
        right: -420px;
    }
}

@media (max-width: 1200px) {
    .textLeftImgTitle {
        right: -470px;
    }
}

@media (max-width: 768px) {
    .intro {
        padding-left: 20px;
        padding-right: 20px;
    }

    .intro h3 {
        font-size: 1rem;
    }
    
    .intro h4 {
        font-size: 1rem;
    }

    .textLeft {
        display: block;
    }

    .textLeftImg {
        width: 100%;
    }

    .textLeftImg img {
        height: 200px;
    }

    .imgIntro {
        height: 200px;
    }
  }
