

.intro {
    font-family: var(--benzin-semibold);
}

.intro h3 {
    font-family: var(--benzin-semibold);
    font-size: 1.6rem;
    line-height: 1.4rem;
}

.intro h4 {
    font-family: var(--gotham-light);
    font-size: 1.4vw;
}

.textLeftImg {
    width: 450px;
}

.textLeftImgTitle {
    right: -350px;
}

@media (max-width: 1600px) {
    .textLeftImgTitle {
        right: -320px;
    }    
}


@media (max-width: 768px) {
    .intro {
        padding-left: 2.5rem;
        padding-right: 2.5rem;
    }

    .intro h3 {
        font-family: var(--benzin-semibold);
        font-size: 5vw;
    }
    
    .intro h4 {
        font-family: var(--gotham-light);
        font-size: 5vw;
    }

    .textLeft {
        display: block;
    }

    .textLeftImg {
        width: 100%;
    }
  }
