.menuItemFooter {
  display: flex;
  flex-direction: column;
  font-family: var(--benzin-semibold);
  font-size: 22px;
  margin-top: 40px;
}

.footerElt {
  gap: 20px;
}

.submenuFooter {
  display: flex;
  flex-direction: column;
  font-family: var(--gotham-light);
  font-size: 16px;
  color: white;
}

.menuItemTightFooter {
  margin-top: 40px;
  bottom: 80px;
  right: 50px;
}

.menuItemTightFooter img {
  filter: brightness(100);

}

.menuItemBottomFooter {
  display: flex;
  flex-direction: row;
  font-family: var(--benzin-semibold);
  font-size: 22px;
  margin-top: 40px;
  gap: 64px;
}

@media (max-width: 768px) {
  .footer {
    flex-direction: column;
  }

  .footerElt {
    flex-direction: column;
    align-items: center;
  }

  .menuItemFooter {
    margin-left: 0px !important;
    align-items: center;
    gap: 10px;
  }

  .menuItemBottomFooter {
    margin-left: 0px !important;
    flex-direction: column;
    align-items: center;
  }

  .menuItemTBottomFooter {
    flex-direction: column;
    gap: 20px;
    text-align: center;
    margin-top: 30px;
  }
}
