@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  background: var(--background);
  overflow-x: hidden;
}

.global-title {
  font-family: var(--benzin-semibold);
  font-size:4.5vw;
  text-align: center;
  margin: 80px 0px;
  line-height: 130%;
  padding: 0px 30px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@media (max-width: 768px) {
  .global-title {
    margin: 50px 0px;
    font-size: 1.6rem;
    text-align: start;
    padding: 0px 15px;
  }
}
