.accordion {
  font-family: var(--benzin-semibold);
  width: 100%;
  max-width: 100vw;
  display: flex;
  margin-top: 100px;
}

.accordionLeft {
  width: 50%;
}

.accordionRight {
  padding-left: 40px;
  width: 50%;
}

.accordionRightImg {
  width: 100%;
  height: 100%;
  max-height: 500px;
  object-fit: cover;
}

.accordionLeft h2 {
  font-size: 3.4rem;
  margin-bottom: 20px;
}

.accordionLeft p {
  font-family: var(--gotham-light);
  margin-bottom: 40px;
  max-width: 600px;
}

.itl {
  font-family: var(--gotham-medium-itl) !important;
}

.accordionLeft span {
  font-family: var(--gotham-light);
}

.button {
  background-color: black;
  color: white;
  border: 1px solid white;
  transition: background-color 0.3s ease;
  padding: 0.5rem;
}

.button:hover {
  background-color: white;
  color: black;
  border: 1px solid black;
}

.extraContainer {
  overflow: hidden;
  transition: height 0.5s ease, opacity 0.5s ease; /* Smooth transition */
  height: 0;
  opacity: 0;
  margin-top: 30px;
}

.extraContainer.open {
  height: auto; /* Dynamic height */
  opacity: 1;
}

.extraContent {
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
}

.extraContent p {
  font-family: var(--gotham-light);
}

.extraContent p span {
  font-family: var(--gotham-medium-itl) !important;
}

.extraContentButton {
  right: 4rem;
  top: 20px;
  padding: 8px;
  cursor: pointer;
}

.timeline {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60vw;
}

.timeline::before {
  content: '';
  position: absolute;
  width: 4px;
  background-color: #fff;
  top: 0;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.timelineElt {
  position: relative;
  width: calc(50% - 40px);
  background-color: #1A1A1A;
  color: white;
  padding: 20px;
  z-index: 2;
  padding-top: 50px;
}

.timelineElt:nth-child(odd) {
  align-self: flex-start;
  text-align: right;
}

.timelineElt:nth-child(even) {
  align-self: flex-end;
  text-align: left;
}

.timelineElt h5 {
  margin: 0;
  font-family: var(--benzin-semibold);
  font-size: 18px;
  margin-bottom: 10px;
}

.timelineElt::before {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #1A1A1A;
  border: 4px solid #fff;
  border-radius: 50%;
  top: 20px;
  transform: translateY(-50%);
  z-index: 3;
}

.timelineElt:nth-child(odd)::before {
  right: -50px;
}

.timelineElt:nth-child(even)::before {
  left: -50px;
}

@media (max-width: 768px) {
  .accordion {
    flex-direction: column;
  }

  .accordionLeft {
    width: 100%;
  }
  
  .accordionRight {
    padding-left: 0px;
    width: 100%;
    margin-top: 50px;
  }

  .accordionLeft h2 {
    font-size: 6vw;
    margin-bottom: 20px;
  }

  .timeline {
    gap: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
  }

  .timelineElt {
    width: 100%;
    align-self: left !important;
    text-align: left !important;
    margin: 0;
  }

  .timelineElt::before {
    display: none;
  }

  .buttonContainer {
    display: flex;
    justify-content: center;
}
}