.accordion {
  font-family: var(--benzin-semibold);
  max-width: 100vw;
  display: flex;
  margin-top: 100px;
}

.accordionLeft {
  width: 40%;
}

.accordionRight {
  padding-left: 40px;
  width: 60%;
}

.accordionRightImg {
  width: 100%;
  height: 100%;
  max-height: 500px;
  object-fit: cover;
}

.accordionLeft h2 {
  font-size: 3vw;
  margin-bottom: 20px;
}

.accordionLeft p {
  font-family: var(--gotham-light);
  margin-bottom: 40px;
  max-width: 450px;
}

.itl {
  font-family: var(--gotham-medium-itl) !important;
}

.accordionLeft span {
  font-family: var(--gotham-medium);
}

.button {
  background-color: black;
  color: white;
  border: 2px solid white;
}

.button:hover {
  background-color: white;
  color: black;
  border: 2px solid black;
}

.extraContainer {
  overflow: hidden;
  transition: height 0.5s ease, opacity 0.5s ease; /* Smooth transition */
  height: 0;
  opacity: 0;
  margin-top: 30px;
}

.extraContainer.open {
  height: auto; /* Dynamic height */
  opacity: 1;
}

.extraContent {
  background-color: black;
  color: white;
}

.extraContent p {
  font-family: var(--gotham-light);
}

.extraContent p span {
  font-family: var(--gotham-medium-itl) !important;
}

.extraContentButton {
  right: 4rem;
  top: 20px;
  padding: 8px;
  cursor: pointer;
}

.timeline {
  display: flex;
  gap: 50px;
  row-gap: 20px;
  flex-wrap: wrap;
}

.timelineElt {
  min-width: 25%;
  max-width: 600px;
  margin-top: 20px;
  background-color: #1A1A1A;
  padding: 20px;
}

.timelineElt h5 {
  font-family: var(--benzin-semibold);
  font-size: 22px;
  margin-bottom: 20px;
  margin-top: 50px;
}

@media (max-width: 768px) {
  .accordion {
    flex-direction: column;
  }

  .accordionLeft {
    width: 100%;
  }
  
  .accordionRight {
    padding-left: 0px;
    width: 100%;
    margin-top: 50px;
  }

  .accordionLeft h2 {
    font-size: 6vw;
    margin-bottom: 20px;
  }
}