.accordion {
  font-family: var(--benzin-semibold);
  max-width: 100vw;
  display: flex;
  margin-top: 100px;
}

.accordionLeft {
  width: 50%;
}

.accordionRight {
  padding-left: 40px;
  width: 50%;
}

.accordionRightImg {
  width: 100%;
  height: 100%;
  max-height: 500px;
  object-fit: cover;
}

.accordionLeft h2 {
  font-size: 4vw;
  margin-bottom: 20px;
}

.accordionLeft p {
  font-family: var(--gotham-light);
  margin-bottom: 40px;
}

.itl {
  font-family: var(--gotham-medium-itl) !important;
}

.accordionLeft span {
  font-family: var(--gotham-medium);
}

.button {
  background-color: white;
  color: black;
}

.extraContainer {
  overflow: hidden;
  transition: height 0.5s ease, opacity 0.5s ease; /* Smooth transition */
  height: 0;
  opacity: 0;
}

.extraContainer.open {
  height: auto; /* Dynamic height */
  opacity: 1;
}

.extraContent {
  background-color: black;
  color: white;
}

.extraContentButton {
  right: 4rem;
  top: 20px;
  padding: 8px;
  cursor: pointer;
}