.chateau {
  font-family: var(--benzin-semibold);
}

.extraContentButton {
  right: 4rem;
  top: 20px;
  padding: 8px;
  cursor: pointer;
}

.chateauTitle h3 {
  font-family: var(--benzin-semibold);
  font-size: 1.6rem;
  line-height: 1.6rem;
}

.chateauTitle h4 {
  font-family: var(--gotham-light);
  font-size: 1.4rem;
}

.button {
  background-color: black;
  color: white;
  border: 1px solid white;
  transition: background-color 0.3s ease;
  padding: 0.5rem;
}

.button:hover {
  background-color: white;
  color: black;
  border: 1px solid black;
}

@media (max-width: 768px) {
  .chateauTitle {
    font-size: 24px;
  }
  .chateau {
      padding-left: 2.5rem;
      padding-right: 2.5rem;
  }

  .chateau img {
      height: 200px !important;
  }

  .chateau > div:first-child {
    height: 200px !important;
}

.chateauTitle h3 {
  font-family: var(--benzin-semibold);
  font-size: 1rem;
  margin-bottom: 5px;
}

.chateauTitle h4 {
  font-family: var(--gotham-light);
  font-size: 1rem;
}
}
