.chateau {
  font-family: var(--benzin-semibold);
}

.button {
  background-color: white;
  color: black;
}

.extraContentButton {
  right: 4rem;
  top: 20px;
  padding: 8px;
  cursor: pointer;
}

.chateauTitle {
  font-size: 35px;
}

.chateauTitle span {
  font-size: 35px;
  font-family: var(--gotham-light);
}

@media (max-width: 768px) {
  .chateauTitle {
    font-size: 24px;
  }
  .chateau {
      padding-left: 2.5rem;
      padding-right: 2.5rem;
  }
}
