.chateau {
  font-family: var(--benzin-semibold);
}

.button {
  background-color: white;
  color: black;
  border: 2px solid black;
}

.extraContentButton {
  right: 4rem;
  top: 20px;
  padding: 8px;
  cursor: pointer;
}

.chateauTitle {
  font-size: 1.6rem;
}

.chateauTitle span {
  line-height: 1.4rem;
  font-family: var(--gotham-light);
}

.button:hover {
  background-color: black;
  color: white;
  border: 2px solid white;
}

@media (max-width: 768px) {
  .chateauTitle {
    font-size: 24px;
  }
  .chateau {
      padding-left: 2.5rem;
      padding-right: 2.5rem;
  }
}
