.valeurs {
    background-image: url(/img/valeurs/valeurs-bg-img.png);
    background-position: 55% bottom;
}

.valeurs h2 {
    font-family: var(--benzin-semibold);
    font-size: 4vw;
}

.valeursElt {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    flex-direction: column;
}

.valeursContainer {
    display: flex;
    gap: 50px;
    justify-content: center;
}

.valeursElt:first-child {
    margin-top: 100px;
}

.valeur {
    width: 35vw;
    max-width: 700px;
    height: 500px;
    background-color: #1A1A1A;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.valeur h3 {
    margin-top: 60px;
    font-size: 32px;
    font-family: var(--benzin-semibold);
}

.valeur p {
    height: 180px;
    margin-top: 40px;
}

.valeur p span {
    font-family: var(--gotham-medium);
}

.valeurtImg {
    top: 50px;
    right: 30px;
    height: 90px;
    object-fit: contain;
}

@media (max-width: 768px) {
    .valeursContainer {
        flex-direction: column;
    }

    .valeurs h2 {
        font-size: 8vw;
    }

    .valeursElt:first-child {
        margin-top: 50px;
    }

    .valeurs {
        width: 100%;
        padding: 50px 20px;
    }

    .valeur {
        width: 100%;
        height: auto;
        padding: 50px 20px;
    }

    .valeur h3 {
        font-size: 6vw;
        margin-top: 150px;
        font-family: var(--benzin-semibold);
    }

    .valeur p {
        height: unset;
    }
}