.valeurs h2 {
    font-family: var(--microma-regular);
    font-size: 3.2rem;
}

.valeurs {
    padding-right: 100px;
    padding-left: 100px;
}

.valeursElt {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    flex-direction: column;
}

.valeursContainer {
    display: flex;
    gap: 50px;
    justify-content: center;
}

.valeursElt:first-child {
    margin-top: 100px;
}

.valeur {
    width: 40vw;
    max-width: 700px;
    background-color: #1A1A1A;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.valeur h3 {
    margin-top: 40px;
    font-size: 32px;
    font-family: var(--microma-regular);
    text-align: center;
}

.valeur p {
    height: fit-content;
    margin-top: 40px;
    font-family: var(--inter);
    font-weight: 300;
    text-align: center;
}

.valeur p span {
    font-family: var(--inter);
    font-weight: 700;
}

.valeurtImg {
    top: 30px;
    right: 30px;
    height: 80px;
    object-fit: contain;
}

@media (max-width: 768px) {
    .valeursContainer {
        flex-direction: column;
    }

    .valeurs h2 {
        font-size: 8vw;
        text-align: center;
    }

    .valeursElt:first-child {
        margin-top: 50px;
    }

    .valeurs {
        width: 100%;
        padding: 50px 20px;
    }

    .valeur {
        width: 100%;
        height: auto;
        padding: 50px 20px;
    }

    .valeur h3 {
        font-size: 6vw;
        margin-top: 50px;
        font-family: var(--microma-regular);
    }

    .valeur p {
        height: unset;
    }
}