.secu {
  gap: 80px;
}

.secuTitle {
  font-family: var(--benzin-semibold);
  margin-top: 200px;
  font-size: 3.6rem;
}

.secuText {
  font-family: var(--gotham-light);
  text-align: justify;
}

.secuText span {
  font-family: var(--gotham-bold);
}

.secuLeft {
  background-color: #1A1A1A;
  padding: 50px;
}

.secuRight {
  height: 492px;
}

@media (max-width: 768px) {
  .secu {
    padding: 1rem;
  }
  .secu h2 {
    margin-top: 0;
  }
  .secuLeft {
    background-color: #1A1A1A;
    padding: 20px;
  }

  .secuTitle {
    font-size: 2.6rem;
  }
}