.secuText {
  font-family: var(--inter);
  font-size: 16px;
  font-weight: 300;
  margin-top: 30px;
  text-align: center;
}

.secu {
  display: flex;
}

.secuText span {
  font-family: var(--inter);
  font-weight: 700;
}

.secuRight {
  padding: 0 calc(4rem);
}

.secuTitleContainer {
  font-family: var(--microma-regular);
  font-size: 3.2rem;
  margin-left: 20px;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.secuTitle img {
  height: 100%;
 }

@media (max-width: 768px) {
  .secu {
    padding: 0rem;
    flex-direction: column;
  }

  .secuPicto {
    width: 50px;
  }
  .secuTitleContainer {
    margin-bottom: 30px;
  }
  .secu h2 {
    font-size: 24px;
    margin-left: 0px;
  }
  .secuTitle {
    text-align: start;
    margin-left: 0;
    margin-bottom: 10px;
  }
  .secuText {
    margin: 0;
    max-width: 100%;
    text-align: center;
  }
  .secuLeft {
    padding: 20px;
  }
  .secuRight {
    padding: 12px;
  }
}