.videoTitle {
    bottom: 0px;
    font-size: 5.5vw;
    width: 100%;
    text-align: center;
    font-family: var(--benzin-semibold);
    position: absolute;
    line-height: 85%;
}

.iframe {
    height: 100vh;
}

.videoContainer {
    height: 97vh;
    position: relative;
}

.videoContainer video {
    object-fit: cover;
    object-position: top;
}

@media (max-width: 768px) {
    .videoTitle {
        font-size: 2rem;
        width: 100%;
        text-align: start;
        left: 20px;
        bottom: 50px;
        max-width: 200px;
        line-height: 100%; 
        padding: 0;
    }

    .iframe {
        height: 90vh;
    }
}