.videoTitle {
    bottom: -75px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 5.5vw;
    width: 100%;
    text-align: center;
    font-family: var(--benzin-semibold);
}

.buttonSound {
    right: 50px;
    background-color: transparent;
}

.iframe {
    height: 100vh;
}

.videoContainer {
    height: 65vh;
}

.videoContainer video {
    object-fit: cover;
}

@media (max-width: 768px) {
    .videoTitle {
        bottom: -75px;
        left: 50%;
        transform: translateX(-50%);
        font-size: 8vw;
        width: 100%;
        text-align: center;
    }
}