.contact {
  gap: 80px;
}

.contactTitle {
  font-family: var(--microma-regular);
  font-size: 4rem;
  color: rgb(150,150,150);
  font-weight: 200;
}

.button {
  font-family: var(--inter);
  color: white;
  background-color: black;
  border: 1px solid white;
  transition: background-color 0.3s ease;
  padding: 0.2rem 0.5rem;
  font-family: var(--microma-regular);
  min-width: 101px;
}

.button:hover {
  background-color: white;
  border: 1px solid black;
  color: black;
  cursor: pointer;
}

.contactText {
  font-family: var(--inter);
}

.contactTopTitle {
  font-family: var(--microma-regular);
  font-size: 3.2rem;
  margin-top: 60px;
}

.contactRight input::-webkit-outer-spin-button,
.contactRight input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.contactRight input[type=number] {
  -moz-appearance: textfield;
}

.loader {
  border: 1px solid #fff;
  border-top: 3px solid black;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 0.6s linear infinite;
  display: inline-block;
  padding-top: 10px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


@media (max-width: 768px) {
  .contactTitle {
    font-size: 32px;
  }

  .contactTopTitle {
    font-size: 30px;
    text-align: center;
    margin-top: 30px;
  }

  .contact {
    padding: 1rem;
  }  
}