.contact {
  gap: 80px;
}

.contactTitle {
  font-family: var(--benzin-semibold);
  font-size: 80px;
  line-height: 120%;
  color: rgb(73, 73, 73);
}

.button {
  font-family: var(--benzin-semibold);
  color: white;
  background-color: black;
  border: 2px solid white;
  transition: background-color 0.3s ease;
  padding: 0.5rem 1rem;
}

.button:hover {
  background-color: white;
  border: 2px solid black;
  font-family: var(--benzin-semibold);
  color: black;
  cursor: pointer;
}

.contactText {
  font-family: var(--benzin-light);
}

.contactTopTitle {
  font-family: var(--benzin-semibold);
  font-size: 3.6rem;
}


@media (max-width: 768px) {
  .contactTitle {
    font-size: 40px;
  }

  .contactTopTitle {
    font-size: 30px;
  }

  .contact {
    padding: 1rem;
  }
  
}